body {
  margin: 0;
  text-align: center;
  background-color: #f1f1f6;
}

h1 {
  font-size: 4.375rem;
  font-family: 'Sacramento', cursive;
  color: #633a82;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Comic Neue', cursive;
  color: #633a82;
}

h3 {
  font-size: 1.25rem;
  font-family: 'Comic Neue', cursive;
  color: #c9b6e4;
}

p {
  font-size: 1.25rem;
  font-family: 'Comic Neue', cursive;
}

a {
  font-family: 'Comic Neue', cursive;
  color: #633a82;
}

hr {
  width: 4%;
  border: 6px #e1ccec;
  border-style: dotted none none;
}

/* ------------------------------------------ */

.top-container {
  position: relative;
  padding-top: 70px;
  padding-bottom: 120px;
}

.top-header {
  margin: 50px auto 50px auto;
}

.top-second-header {
  color: #633a82;
  font-weight: normal;
}

.top-kwiatki {
  width: 50px;
  height: 90px;
  position: absolute;
  right: 300px;
  top: 30px;
}

.lewe-kwiatki {
  width: 30px;
  height: 70px;
  position: absolute;
  left: 300px;
  bottom: 240px;
}

.poziome-kwiatki {
  width: 400px;
  height: 60px;
}

/* ------------------------------------------ */

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  margin: 0 auto;
}

.profile-paragraph {
  width: 70%;
  display: inline-block;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  padding-bottom: 30px;
}

.basic-skill-photo {
  width: 150px;
  height: 180px;
  border-radius: 20%;
  float: left;
  margin-right: 30px;
}

.fun-skill-photo {
  width: 150px;
  height: 180px;
  border-radius: 20%;
  float: right;
  margin-left: 30px;
}

.img-container {
  position: relative;
}

.kwiatki-lewe-bottom {
  width: 70px;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.kwiatki-prawe-bottom {
  width: 70px;
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ------------------------------------------ */

.bottom-container {
  background-color: #c9b6e4;
  padding-top: 5px;
}

.contact-paragraph {
  display: inline-block;
  padding-bottom: 30px;
}

.btn {
  display: inline-block;
  font-size: 1.25rem;
  font-style: normal;
}

.footer-link {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-paragraph {
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding: 5px auto;
  margin: 0;
}
